@media screen and (max-width:768px){
.catSec{
width: 100%;
}

}

@media screen and (max-width:540px){
#tetePage{
visibility: hidden;
}

#divLogo{
visibility: hidden;
height:0px;
}

.menuCat{
	height:5%;
	width:50%;
	float:left;

}

#corpsPage{
	clear:both;
}




}

body {
background-image:url(../Image/event.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
margin:0;
font-family: 'Mr Dafoe', cursive;
border-width: 2px;

}
[class*="col-"], footer {  
  line-height: 80px;
  text-align: center;
}




#menu{
height:60%;

z-index=5;

}
#message{
	
height:100%;

}
.container{
width:100%;
}

#logo{
	border: 1px outset #FFFFF0;
	border-radius: 50%
}

#tetePage{
margin-top: 3%;
}

#tetePageBis{
	margin-top: 3%;
	border-radius: 20%;
	background-color: rgba(242, 236, 206, 0.5);
	font-size: 110%;
	color:	#333D3F;
	border-style: outset;
	border-color:	#FFFFF0;
	font-family: Time;
	font-weight: 800;
	width: 95%;
	margin-left:2.5%;
}
.tetePageBisHerite{
	float:left;
	width: 45%;
	text-align: center;
	border-radius:20%;
	border-style: outset;
	margin-left: 2.5%;
	height: 35%;
	border-width: 1px;
	margin-bottom: 2.5%;
	margin-top: 5%;
}
.tetePageBisHerite2{
	float:left;
	width: 45%;
	text-align: center;
	margin-left: 25%;
	border-radius:20%;
	border-style: outset;
	border-width: 1px;
	height: 35%;
	margin-top: 2.5%;
	margin-bottom: 5%;
}

#corpsPage{
	height:10%;
	bottom:0;
}

#menuCat{
	height:10%;
	overflow: hidden;

}

.cat{
	height:90%;
	margin-top: 10%;
	margin-right:10%;
	margin-left:10%;
	border-radius:30px;
	background-color: rgba(242, 236, 206, 0.5);
    font-family: 'Rokkitt', serif;
	color:	#333D3F;
	font-size: 160%;
	border-style: outset;
	border-color:	#FFFFF0;
	border-width: 1px;

}

#msgSec{
	width:95%;
	margin-top: 10%;
	height:700px;
	margin-left: 2.5%;
	background-color: rgba(242, 236, 206, 0.5);
	border-bottom-left-radius:35%;
	border-bottom-right-radius:35%;
	border-top-right-radius:50%;
	border-top-left-radius:50%;
	
}

#titrePage{
	color: 	#333D3F;
	font-family: 'Mr Dafoe', cursive;
	margin-top: 0%;
	width: 100%;
		font-size: 400%;
	border-style: outset;
	border-color:	#FFFFF0;
	background-color: rgba(242, 236, 206, 0.5);
	border-radius:15%; 
	border-width: 1px;
}

.catType{
	width: 100%;
	border-style: outset;
	border-color:	#FFFFF0;
	border-width: 1px;
	margin-top: 5%;
	border-radius: 20px;
	font-family: Time;
	font-size:65%;
	color: 	#333D3F;
	font-weight: 800;
	text-align: left;
	height: 20%;

}

.Type{
	width: 80%;
	margin-top: 5%;
	font-family: Time;
	
	color: 	#333D3F;
	font-weight: 800;
	text-align: center;
	margin-left: 10%;
	height: 10%;
	float:left;
	margin-bottom: 5%;

}

#formulaire{
		font-family: arial;
		height:50%;

		font-size: 25%;
		line-height: normal;
		margin-top: 2.5%;
}

#researchBar{
	width:80%;
	background-color: rgba(255, 255, 255, 0.5);
}
#divMessage{
	
	height: 60%;
}

#inputMessage{
	line-height: 30px;

}

#plancheMessage{
	
	
	height:100%;
}

h2{
font-size: 100%;	
}

body{
	overflow: hidden;
}