
@media screen and (min-width:768px){
.catSec{
width:23%;
}




.catSec{
	
	
	margin-top: 20%;
	margin-right:1%;
	margin-left:1%;
	background-color: rgba(242, 236, 206, 0.5);
	border-radius:30px;
	border-style: outset;
	border-color:	#FFFFF0;
	color:	#333D3F;
    font-family: 'Rokkitt', serif;
	font-size: 160%;
	float:left;
}

#conteneurCat{
	overflow: hidden;
	min-height:900px;
	
}





#SelectChill{
    font-family: 'Rokkitt', serif;
	border-radius: 50px;
}

#titreMsg{
    font-family: 'Rokkitt', serif;
	border-style: dashed;
	border-color: 	#FFFFF0;
	color:	 	#333D3F;
	font-size: 250%;
	border-radius: 20%;
}



.chillList{
	width: 100%;
	border-style: outset;
	border-color:	#FFFFF0;
	border-width: 1px;
	margin-top: 5%;
	border-radius: 20px;
	font-family: Time;
	font-size:65%;
	color: 	#333D3F;
	font-weight: 800;
	text-align: left;
	height: 20%;

}



.answer{
	background-color: rgba(242, 236, 206, 0.5);
	width: 70%;
	border-style: outset;
	border-color:	white;
	border-width: 1px;
	margin-top: 5%;
	border-radius: 10px;
	font-family: Time;
	font-size:65%;
	color: 	#333D3F;
	font-weight: 800;
	text-align: center;
	margin-left: 10%;
	height: 10%;
	float:left;
	margin-bottom: 5%;
}

.descriProp{

	height:60%;
	width: 90%
}




