@media screen and (max-width:768px){
.catSec{
width: 100%;
}

}


@media screen and (min-width:768px){
.catSec{
width:23%;
}
}

body {
background-image:url(../Image/fondTest2.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
margin:0;
font-family: 'Mr Dafoe', cursive;
border-width: 2px;
}
[class*="col-"], footer {  
  line-height: 80px;
  text-align: center;
}

#menu{
height:60%;

z-index=5;

}
#message{
height:100%;

}
.container{
width:100%;
}

#logo{
	border: 5px outset #FFFFF0;
	border-radius: 50%
}

#tetePage{
margin-top: 3%;
}

#tetePageBis{
	margin-top: 3%;
	border-radius: 20%;
	background-color: rgba(242, 236, 206, 0.5);
	font-size: 110%;
	color:	#333D3F;
	border-style: outset;
	border-color:	#FFFFF0;
	font-family: Time;
	font-weight: 800;
	width: 95%;
	margin-left:2.5%;
}
.tetePageBisHerite{
	float:left;
	width: 45%;
	text-align: center;
	border-radius:20%;
	border-style: outset;
	margin-left: 2.5%;
	height: 35%;
	border-width: 1px;
	margin-bottom: 2.5%;
	margin-top: 5%;
}
.tetePageBisHerite2{
	float:left;
	width: 45%;
	text-align: center;
	margin-left: 25%;
	border-radius:20%;
	border-style: outset;
	border-width: 1px;
	height: 35%;
	margin-top: 2.5%;
	margin-bottom: 5%;
}

#corpsPage{
	height:10%;
	bottom:0;
}

#menuCat{
	height:10%;
	overflow: hidden;

}

.cat{
	height:90%;
	margin-top: 10%;
	margin-right:10%;
	margin-left:10%;
	border-radius:30px;
	background-color: rgba(242, 236, 206, 0.5);
    font-family: 'Mr Dafoe', cursive;
    font-family: 'Rokkitt', serif;
	color:	#333D3F;
	font-size: 100%;
	border-style: outset;
	border-color:	#FFFFF0;

}

.catSec{
	
	
	margin-top: 20%;
	margin-right:1%;
	margin-left:1%;
	background-color: rgba(242, 236, 206, 0.5);
	border-radius:30px;
	border-style: outset;
	border-color:	#FFFFF0;
	color:	#333D3F;
    font-family: 'Mr Dafoe', cursive;
    font-family: 'Rokkitt', serif;
	font-size: 160%;
	float:left;
}

#conteneurCat{
	overflow: hidden;
	min-height:900px;
	
}

#msgSec{
	width:95%;
	margin-top: 10%;
	height:700px;
	margin-left: 2.5%;
	background-color: rgba(242, 236, 206, 0.5);
	border-bottom-left-radius:35%;
	border-bottom-right-radius:35%;
	border-top-right-radius:45%;
	border-top-left-radius:45%;
	border-style: outset;
	border-color:	#FFFFF0;
}

#titrePage{
	color: 	#333D3F;
	font-family: 'Mr Dafoe', cursive;
	margin-top: 22%;
	width: 50%;
	margin-left: 25%;
	font-size: 400%;
	border-style: outset;
	border-color:	#FFFFF0;
	background-color: rgba(242, 236, 206, 0.5);
	border-radius:35%; 
}


#SelectChill{
    font-family: 'Mr Dafoe', cursive;
    font-family: 'Rokkitt', serif;
	border-radius: 50px;
}

#titreMsg{
    font-family: 'Mr Dafoe', cursive;
    font-family: 'Rokkitt', serif;
	border-style: dashed;
	border-color: 	#FFFFF0;
	color:	 	#333D3F;
	font-size: 250%;
	border-radius: 20%;
}

.catType{
	width: 100%;
	border-style: outset;
	border-color:	#FFFFF0;
	border-width: 1px;
	margin-top: 5%;
	border-radius: 20px;
	font-family: Time;
	font-size:65%;
	color: 	#333D3F;
	font-weight: 800;
	text-align: left;
	height: 20%;

}

.chillList{
	width: 100%;
	border-style: outset;
	border-color:	#FFFFF0;
	border-width: 1px;
	margin-top: 5%;
	border-radius: 20px;
	font-family: Time;
	font-size:65%;
	color: 	#333D3F;
	font-weight: 800;
	text-align: left;
	height: 20%;

}

.Type{
	width: 80%;
	border-style: outset;
	border-color:	white;
	border-width: 1px;
	margin-top: 5%;
	border-radius: 10px;
	font-family: Time;
	font-size:65%;
	color: 	#333D3F;
	font-weight: 800;
	text-align: center;
	margin-left: 10%;
	height: 10%;
	float:left;
	margin-bottom: 5%;

}

.answer{
	background-color: rgba(242, 236, 206, 0.5);
	width: 70%;
	border-style: outset;
	border-color:	white;
	border-width: 1px;
	margin-top: 5%;
	border-radius: 10px;
	font-family: Time;
	font-size:65%;
	color: 	#333D3F;
	font-weight: 800;
	text-align: center;
	margin-left: 10%;
	height: 10%;
	float:left;
	margin-bottom: 5%;
}

.descriProp{

	height:60%;
	width: 90%
}

#divMessage{
	
	height: 60%;
}

#inputMessage{
	line-height: 30px;

}

#plancheMessage{
	
	
	height:100%;
}

