.title1{
	width:100%;
	height:20%;
	background-color: red;

}

.window1{
	width:100%;
	height:60%;
	background-color: lightblue;
	padding-left: 10%;
	padding-right: 10%;
	margin: auto;

}

.loginWindow{
	width:20%;
	height:20%;
	background-color: lightgreen;
	float: right;
	margin-right: 10%;
}

.description{
	width:20%;
	height:60%;
	background-color: red;
	float: left;
}

.inscription{
	width:50%;
	height:60%;
	background-color: green;
	float: left;
}