@media screen and (min-width:768px){
.catSec{
width:100%;
}
}



.cat{
	height:90%;
	margin-top: 10%;
	margin-right:10%;
	margin-left:10%;
	border-radius:30px;
	background-color: rgba(242, 236, 206, 0.5);
	font-family: Jazz LET, fantasy;
	color:	#333D3F;
	font-size: 160%;
	border-style: outset;
	border-color:	#FFFFF0;

}

.catSec{
	
	height:550px;
	margin-top: 1%;
	margin-right:1%;
	margin-left:1%;
	background-color: rgba(242, 236, 206, 0.5);
	border-radius:30px;
	border-style: outset;
	border-color:	#FFFFF0;
	color:	#333D3F;
	font-family: Jazz LET, fantasy;
	font-size: 160%;
}

#conteneurCat{
	overflow: hidden;
	
}



#titrePage{
	color: 	#333D3F;
	font-family: Brush Script MT,cursive;
	width: 50%;
	margin-left: 25%;
	font-size: 400%;
	
}


#SelectChill{
	font-family: Jazz LET, fantasy;
	border-radius: 50px;
}

#titreMsg{
	font-family: Jazz LET, fantasy;
	border-style: dashed;
	border-color: 	#FFFFF0;
	color:	 	#333D3F;
	font-size: 250%;
	border-radius: 20%;
}



.chillList{
	width: 25%;
	border-style: outset;
	border-color:	#FFFFF0;
	border-width: 1px;
	margin-top: 5%;
	border-radius: 20px;
	font-family: Time;
	font-size:65%;
	color: 	#333D3F;
	font-weight: 800;
	text-align: left;
	height: 20%;
	float: left;

}

.chillName{
	text-align:center;
}




