@media screen and (min-width:768px){
.catSec{
width: 31.2%;
}
}



.catSec{
	
	height:550px;
	margin-top: 1%;
	margin-right:1%;
	margin-left:1%;
	background-color: rgba(242, 236, 206, 0.5);
	border-radius:30px;
	border-color:	#FFFFF0;
	color:	#333D3F;
    
    font-family: 'Rokkitt', serif;
	font-size: 160%;
	float:left;
}

#conteneurCat{
	overflow: hidden;
	
}

#SelectChill{
    font-family: 'Mr Dafoe', cursive;
    font-family: 'Rokkitt', serif;
	border-radius: 50px;
}

#titreMsg{
    font-family: 'Mr Dafoe', cursive;
    font-family: 'Rokkitt', serif;
	border-style: dashed;
	border-color: 	#FFFFF0;
	color:	 	#333D3F;
	font-size: 250%;
	border-radius: 20%;
}

.chillList{
	width: 25%;
	border-style: outset;
	border-color:	#FFFFF0;
	border-width: 1px;
	margin-top: 5%;
	border-radius: 20px;
	font-family: Time;
	font-size:65%;
	color: 	#333D3F;
	font-weight: 800;
	text-align: left;
	height: 20%;
	float: left;

}

.chillName{
	text-align:center;
}



