</article>
            <article class="catSec" class="col-sm-3">
              <a href="brick_panel/sharing.html">Chill Sharing</a>
              
            </article>
            <article class="catSec" class="col-sm-3">
              <a href="brick_panel/description.html">Chill Benefit</a>
              
            </article>
            <article class="catSec" class="col-sm-3">
              <a href="brick_panel/showRoom.html">Chill Treasure</a>
              
            </article>
          </div>